{% extends 'template.html.twig' %}
{% block body %}
<table class="table">
    {% for note in tab %}
    <tr>
        <td>
            {{ note }}
        </td>
    </tr>
    {% endfor %}
</table>

<div class="alert alert-info">
    <p>Nombre de note : {{ tab|length }}</p>
    <p>la note minimale  : {{ min(tab)}}</p>
    <p>la note maximale  : {{ max(tab)}}</p>
</div>
{% endblock %}