{% extends 'template.html.twig' %}
{%block titlePage %}
    {{ 'bienvenue' }}
{% endblock %}

{% block body %}
    <p>bonjour {{ name }} {{ firstName }}</p>
    {#  je veux aller cet url {{ url('app_first') }} url pour aller sur un chemin absolue genre un lien gmail #}
{% endblock %}
